name: Go CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:7
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 5s
          --health-timeout 3s
          --health-retries 5
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
      - name: Wait for Redis to be ready
        run: |
          for i in {1..10}; do
            if redis-cli -h 127.0.0.1 ping | grep PONG; then
              echo "Redis is ready"
              break
            fi
            echo "Waiting for Redis..."
            sleep 2
          done
      - name: Run tests
        run: |
          go test -v ./...
      - name: Run vet
        run: |
          go vet ./...
